<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" align="center">
        <table border="2">
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>EMAILNAME</th>
            <th>PHONENAME</th>
            <th>ADDRESSNAME</th>
            <th>DOBNAME</th>
            <th>GENDERNAME</th>
            <th>PICTURE</th>
            {%for i in data%}
            <tr><td>{{i.firstname}}</td>
                <td>{{i.lastname}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.address}}</td>
                <td>{{i.dob}}</td>
                <td>{{i.gender}}</td>
                <td><img src="{{i.img.url}}" alt="no image" height="100", width="150"></td>
                <td>{{i.img}}</td>
            </tr>
            {%endfor%}

            </table>
        </div>
</body>
</html>